<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="clock" data-view="Clock" data-title="Clock" ></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="2" data-sizey="1">
        <div data-id="google_calendar_personal" data-view="GoogleCalendar" style="background-color:#4183C5;"></div>
        <i class="icon-calendar icon-background"></i>
    </li>
    <li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
        <div data-id="google_calendar_work" data-view="GoogleCalendar" style="background-color:#4183C5;"></div>
        <i class="icon-calendar icon-background"></i>
    </li>
  </ul>
</div>
